nav { width: 30rem;height:5rem;float: right;align-content: center;}
nav ul li{
    display: inline;
    color: #fff;
    font:bold 1.5rem Hack; /* 폰트 설정 - 12px의 돋움체 굵은 글씨로 표시 */ 
    padding:0 10px;
}
.main { width: 100%; 
        height: auto;
        position: relative;
    } 
body{
    background-color: #000;
}
.mainImg { width: 100%; height: auto; opacity: 0.4;

}
.typing-txt {
    

    color:#fff;font-size: 5rem;font-weight: bold;text-align:center;position:absolute;top:30%;left:30%;

    
}

p { color: #fff;}
/* animation: typingAni 4s steps(30, end) 1; */
.section2 {overflow: hidden;box-sizing: border-box;}

/* .section2 article {width:50%;height:auto; float: left;color:#fff;} */

.arti1 {width:40%;height:300px;float:left;box-sizing: border-box;color:#fff;text-align:center;border: 1px solid #fff;}
.arti2 {width:60%;height:300px;float:right;align-content:center;padding:3rem;box-sizing:border-box;color:#fff;border: 1px solid #fff;}
.arti1 p {margin-top: 7rem;text-align:center;font-size: 3rem;}
.arti2 p {margin-top: 4rem;font-size: 1rem;}