
body{
    background: #1d1d1d;
    overflow: hidden;
    display: block;
    max-width: 100%;
}
header { margin: 0;}
nav { width: 30rem;height:4rem;float: right;align-content: center;}
nav ul li{
    display: inline;
    color: #fff;
    font:bold 1.5rem Hack; /* 폰트 설정 - 12px의 돋움체 굵은 글씨로 표시 */ 
    padding:0 10px;
}
.main { width: 100%; 
        height: auto;position: relative;} 
.mainImg {  width: 100%;margin:0; opacity: 0.4;}
.typist { position: absolute; top:15%;font-size:4rem;font-weight:700;padding: 3rem;align-content: center;
list-style: none;}
.hello { color:#FE2E64;}
.sooah {color:#fff;}    
.web{color:#fff;}


.section2 {margin-top: 10%;overflow: hidden;box-sizing: border-box;font-family:file-blod;}

.arti1 { width:40%;height:300px;float:left;box-sizing: border-box;color:#fff;text-align:center;}
.arti2 {width:60%;height:300px;float:right;align-content:center;padding:3rem;box-sizing:border-box;color:#fff;}
.arti1 p {margin-top: 7rem;text-align:center;font-size: 3rem;}
.arti2 p {margin-top: 4rem;font-size: 1rem;}