.footer { width:100;padding:10% 0 5% 0}
.footer_icon  { width:70%;height:auto;display:flex;flex-direction:row;justify-content:center;margin:5% 5% 5% 15%; color:#FFF;}
.email{height:auto;list-style:none;display:inline-flex;padding:1rem;font-size:1.5rem;}
